<% let title = (pageId === 'home') ? jsonData.siteInfo.name : jsonData.pages[pageId].name + ' | ' + jsonData.siteInfo.name%>
<% let description = jsonData.pages[pageId].description %>
<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="width=device-width">
  <link rel="apple-touch-icon" href="/img/common/apple-touch-icon.png">

  <title><%= title %></title>
  <meta name="description" content="<%= description %>">

  <meta property="og:title" content="<%= title %>">
  <meta property="og:description" content="<%= description %>">
  <meta property="og:url" content="<%= jsonData.siteInfo.siteUrl + jsonData.pages[pageId].slug %>">
  <meta property="og:type" content="<%= jsonData.pages[pageId].type %> ">
  <meta property="og:local" content="ja_JP">
  <meta property="og:image" content="/common/og-image.jpg">
  <meta property="og:site_name" content="<%= jsonData.siteInfo.siteUrl %> ">

  <% if (pageId=== 'home' || pageId==='staff') { %>
    <link rel="stylesheet" href="//unpkg.com/swiper/swiper-bundle.min.css">
  <% } %>
  <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>

<body>

  <div id="wrapper">
    <header id="js-header" class="l-header">
      <div class="l-header__inner">
        <!--ヘッダーロゴ-->
        <% if (pageId==='home' ){ %>
          <h1 id="js-header-logo" class="p-header-logo">
            <svg class="c-svg p-header-logo__svg" width="270" height="31">
              <use xlink:href="/img/svg/sprite.min.svg#logo" />
              みなみ歯科クリニック
            </svg>
          </h1>            
        <% } else { %>
          <h1 id="js-header-logo" class="p-header-logo">
            <a href="/" class="p-header-logo__link">
              <svg class="c-svg p-header-logo__svg" width="270" height="31">
                <use xlink:href="/img/svg/sprite.min.svg#logo" />
                みなみ歯科クリニック
              </svg>
            </a>
          </h1>
        <% } %>
        <!--/ヘッダーロゴ-->

        <div class="l-header__content">

          <!--グローバルナビ-->
          <nav class="p-global-nav" id="js-global-nav" aria-level="ページ内のメニュー">
            <ul class="p-global-nav__list">
              <% for (let page in jsonData.nav){ %>
              <% if (page === pageId) { %>
              <li class="p-global-nav__item">
                <a class="p-global-nav__link is-current">
                  <svg class="c-svg p-global-nav__icon" width="24" height="24">
                    <use xlink:href="/img/svg/sprite.min.svg#icon-<%= jsonData.nav[page].id %>" />
                  </svg>
                  <span class="p-global-nav__text">
                    <%= jsonData.nav[page].name %>
                  </span>                
                  <svg class="c-svg p-global-nav__arrow-right u-hidden-xl-up" width="14" height="14">
                    <use xlink:href="/img/svg/sprite.min.svg#icon-right" />
                  </svg>
                </a>
              </li>
              <% }else { %>
                <li class="p-global-nav__item">
                  <a href="<%= jsonData.nav[page].slug %>" class="p-global-nav__link">
                    <svg class="c-svg p-global-nav__icon" width="24" height="24">
                      <use xlink:href="/img/svg/sprite.min.svg#icon-<%= jsonData.nav[page].id %>" />
                    </svg>
                    <span class="p-global-nav__text">
                      <%= jsonData.nav[page].name %>
                    </span>
                    <svg class="c-svg p-global-nav__arrow-right u-hidden-xl-up" width="14" height="14">
                      <use xlink:href="/img/svg/sprite.min.svg#icon-right" />
                    </svg>
                  </a>
                </li>
              <% } %>
              <% }; %>
            </ul>
          </nav>
          <!--/グローバルナビ-->

          <!--ドロワーボタン-->
          <button id="js-drawer" class="c-button-drawer u-hidden-xl-up" aria-controls="js-glabal-nav" aria-expanded="false"
            area-label="メニューを開閉する">
            <span class="c-button-drawer__line"></span>
            <span class="c-button-drawer__line"></span>
            <span class="c-button-drawer__line"></span>
          </button>
          <!--ドロワーボタン-->

          <!--電話番号-->
          <address class="p-header-tel u-hidden-xl-down">
            <p class="p-header-tel__text">
              〒166-0001 東京都杉並区阿佐谷北7-3-1
            </p>
            <a href="tel:03-1234-5678" class="p-header-tel__number">
              <svg class="c-svg p-header-tel__icon" width="28" height="28">
                <use xlink:href="/img/svg/sprite.min.svg#icon-tel" />
              </svg>
              03-1234-5678
            </a>
          </address>
          <!--電話番号-->

        </div>
      </div>
    </header>